.hero {
  user-select: none;
}

img {
  inline-size: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  color: #fff;
}

.swiper-pagination {
  opacity: 0;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  opacity: 0.6;
  background: #fff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.4);
}

.hero:hover .swiper-pagination,
.hero:hover .swiper-button-prev,
.hero:hover .swiper-button-next {
  opacity: 1;
}
